video {
  width: 640px;
  height: 480px;
}

button {
  width: 100px;
  border: 1px solid gray;
  margin: 20px;
}

footer {
  clear: both;
}

#download {
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: space-around;
}

footer {
  text-align: center;
}